<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jiegeng.luobin.mapper.DialogueMapper">
    <resultMap id="DialogueMap" type="Dialogue">
        <result column="dialoge_time" property="dialogueTime"></result>
        <result column="answerId" property="answerId"></result>
        <result column="dialogue_nr" property="nr"></result>
    </resultMap>
    <select id="getDialogues" resultType="string">
        select dialogue_nr
        from dialogue
        where dialoge_time = 4
           or dialoge_time = #{nowTime}
    </select>
    <select id="getDialogsDto" resultMap="DialogueMap">
        select t.dialoge_time, t.dialogue_nr, t.answerId
        from dialogue t;
    </select>
    <insert id="addDialogue" parameterType="Dialogue">
        insert into dialogue(dialogue_nr, dialoge_time, answerId) value(#{nr},#{dialogueTime},#{answerId})
    </insert>
</mapper>